*{
    margin: 0;
    padding: 0;
}

.you{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.menu a{
      color: black; 
      font-size: 25px;
}

.img img{
    width: 30%;
    margin: 0 20px 0 25px;
}
.search a{
       color: black;
       font-size: larger;
}

.search #search {
    width: 450px;
    height: 35px;
    margin: 0 0px 0 0;
    padding-right: 100px;
    border-radius: 20px;
}
#search {
    padding-left: 20px;
    font-size: large;
}
#phone{
    font-size: 22px;
    margin: 0 100px 0 0;
}

.icone a{
    color: black;
    font-size: 22px;
    margin: 0 0;
    padding: 0 10px;
}
.bell a{
     color: black;
     font-size: 22px;
     margin: 0 20px;
}
.box {
    border: solid 0px;
    border-radius: 100px;
    margin: 0 0 0 0px ;
    
}
a img{
    margin: 0 0 0 15px;
    width: 38px;

}
